# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: aws-nodejs # NOTE: update this with your service name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs6.10
  region: us-west-2

functions:
  purchase_btc:
    handler: handler.start
    environment:
      GDAX_KEY: myGdaxKey 
      GDAX_SECRET: myGdaxSecret 
      GDAX_PASSPHRASE: myGdaxPassPhrase
      INVESTMENT_AMOUNT: .1
      MINIMUM_BALAND: 1000
      PHONE_NUMBER: 18667404531
    events:
      - schedule: cron(00 10 * * ? *)
  
  purchase_eth:
    handler: handler.start
    environment:
      GDAX_KEY: myGdaxKey 
      GDAX_SECRET: myGdaxSecret
      GDAX_PASSPHRASE: myGdaxPassPhrase 
      PRODUCT_ID: ETH-USD 
      INVESTMENT_AMOUNT: .1
    events:
      - schedule: cron(00 10 * * ? *)
